<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home" text="Terug"></ion-back-button>
      </ion-buttons>
      <ion-title>Colofon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>  
  <section >
      <h1>Samenstelling en redactie</h1>
      <p>
          Wietske Van Pelt, Sabine De Schutter, Jan Van Reusel, Joris Claus, Pieter Nuytinck, Pieter Ysebaert, Naomi Costrop, An Laenen.
      </p>
      
      <h1>Fotografie</h1>
      <p>
          Trijn Nyckees, Joris Hillaert, Liselotte Reyntjens, Sabine De Schutter, Jente Van Pelt, Fabian Stroobants, Lucas Flies.
      </p>
      <h1>Vormgeving </h1>
      <a href="htpps://www.magnifik.be" >Magnifik.be</a>
      <h1>App</h1>
      <p>Bram Scheerder, Daan Zwaenepoel.</p> 
      <h1>Verantwoordelijk uitgever</h1>
      <p>
          Anton Smagghe<br>
          Scouts en Gidsen Vlaanderen vzw<br>
          Wilrijkstraat 45<br>
          2140 Antwerpen<br>
          <br>
          Scouts en Gidsen Vlaanderen &copy; 2019-2020<br>
          <a href="https://www.scoutsengidsenvlaanderen.be/">scoutsengidsenvlaanderen.be</a>
      </p>
      <h1>Met steun van</h1>
      <img alt="logo Wat wat" src="../../assets/images/logo-watwat.png">
      <img alt="logo Vlaamse overheid" src="../../assets/images/vlaanderen_verbeelding_werkt.png">
  </section>
</ion-content>

