<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Vraag en Antwoord</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    Filter op zaken voor:
    <ion-item>
        <ion-select multiple="true" cancelText="Annuleer" okText="Filter" (ionChange)="filterGroups($event)">
            <ion-select-option value="kapoenen-zeehondjes">Kapoenen en Zeehondjes</ion-select-option>
            <ion-select-option value="kabouters-welpen">Kabouters en (Zee)Welpen</ion-select-option>
            <ion-select-option value="jonggidsen-verkenners-scheepsmakkers">Jonggidsen en Jongverkenners</ion-select-option>
            <ion-select-option value="gidsen-verkenners">Gidsen en Verkenners</ion-select-option>
            <ion-select-option value="jins-loodsen">Jin en Loodsen</ion-select-option>
            <ion-select-option value="leiding">Leiding</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-card *ngFor="let chapter of questions">
            <ion-card-header>
                <ion-card-title>{{ chapter.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngFor="let question of chapter.content">
                <h1>{{ question.question }}</h1>
                <div *ngFor="let answer of question.answers" >
                    <p *ngIf="checkGroupFilter(answer)">
                        <span *ngIf="filter?.length > 1">{{ answer.group }}</span><br>
                        <i>{{ answer.answer }}</i> 
                    </p>
                                          
                </div>
            </ion-card-content>
        </ion-card>
</ion-content>