<ion-content padding >
        <p>
        Scouts en gidsen durven tuimelen in het leven
        en gaan samen op avontuur.
        Risico’s nemen hoort daarbij.
        Blauwe plekken ook.
        <br><br>
        Als leiding neem je samen met risico’s
        ook verantwoordelijkheid.
        <br><br>
        Weet wat je doet,
        draag zorg
        en wees voorbereid.
        <br><br>
        Daarom: speel op veilig.
        </p>  
        <ion-button color="primary" size="large" expand="block" (click)="gaDoor()">Ga verder</ion-button>
     
    
</ion-content>