<ion-content padding>
    <p>
        Scouts en gidsen durven<br>
        tuimelen in het leven<br>
        en gaan samen op avontuur.<br>
        Risico’s nemen hoort daarbij.<br>
        Blauwe plekken ook.<br>
        <br>
        Als leiding neem je<br>
        samen met risico’s<br>
        ook verantwoordelijkheid.<br>
        <br>
        Weet wat je doet,<br>
        draag zorg<br>
        en wees voorbereid.<br>
        <br>
        Kortom: speel op veilig.
    </p>
    <ion-button color="primary" size="large" expand="block" (click)="gaDoor()">Ga verder</ion-button>
</ion-content>