<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ chapter.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <section *ngFor="let subchapter of chapter.subchapters"  class="chapter">
        <h1 *ngIf="subchapter.title && subchapter.content">{{ subchapter.title }}</h1>
        <article *ngFor="let content of subchapter.content" class="subchapter">
            <h2 [ngClass]="{'wet': content.type=='wet','regel': content.type=='regel', 'richtlijn': content.type=='richtlijn', 'suggestie': content.type=='suggestie'  }">{{ content.title }}</h2>
            <p *ngIf="content.description">{{ content.description }}</p>
            <ul>
                <li *ngFor="let item of content.list" class="clearfix" >
                    <div [ngClass]="{'icon-speel-op-veilig-wet-color': content.type=='wet','icon-speel-op-veilig-regel-color': content.type=='regel', 'icon-speel-op-veilig-richtlijn-color': content.type=='richtlijn', 'icon-speel-op-veilig-suggestie-color': content.type=='suggestie'  }"></div>
                    <div *ngIf="item.title">
                        <span [innerHTML]="item.title "></span>
                        <ul *ngFor="let subitem of item.items" class="sublist" >
                            <li [innerHTML]="subitem"></li>
                        </ul>
                    </div>
                    <div *ngIf="!item.title" [innerHTML]="item">
                    </div>
                </li>
            </ul>
        </article>
    </section>
    <section class="more-info">
        <h2>{{ chapter.moreInfo.title }}</h2>
        <ul>
            <li *ngFor="let item of chapter.moreInfo.list" >
                <div class="icon-speel-op-veilig-{{ chapter.url }}"></div>
                <div>
                    <ul>
                        <li *ngFor="let link of item.links">
                            <a href="{{ link.url }}">{{ link.title }}</a>
                            {{ link.description }}
                        </li>
                    </ul>
                </div>
                
            </li>
        </ul>
    </section>
</ion-content>