.wet {
    color: var(--ion-color-danger);
}

.regel {
    color: var(--ion-color-warning);
}

.richtlijn {
    color: var(--ion-color-tertiary);
}

.suggestie {
    color: var(--ion-color-primary);
}