<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ thema.titel }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngFor="let st of thema.subthemas">
        <div>{{ st.titel }}</div>
        <ion-card *ngFor="let od of st.inhoud">
            <ion-card-header>
                <ion-card-title>{{ od.titel}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p [innerHTML]="od.tekst"></p>
                <ul>
                    <li *ngFor="let regel of od.lijst">{{ regel }}</li>
                </ul>
            </ion-card-content>
        </ion-card>
    </div>
    <ion-card>
            <ion-card-header>
                <ion-card-title>{{ thema.meerInfo.titel }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ul>
                    <li *ngFor="let lijstitem of thema.meerInfo.lijst">
                        <ul>{{ lijstitem.titel }}
                            <li *ngFor="let link of lijstitem.links">
                                <a href="link.url">{{ link.titel }}</a>
                                {{ link.beschrijving }}
                            </li>
                        </ul>
                    
                    </li>
                </ul>
            </ion-card-content>
        </ion-card>
</ion-content>