<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Een veilige activiteit</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        Scouting veilig houden is een blijvende uitdag ing. Het belangrijkste aspect daarbij? Gezond verstand, zowel voor als tijdens
        activiteiten. Daarin sta je niet alleen: door met je medeleiding, leden en ouders te praten, kom je al ver bij het inschatten van
        risico’s. Spreek elkaar aa n als je twijfelt over de veiligheid en sta zelf open voor feedback.<br>
        Scouts en Gidsen Vlaanderen kent drie soorten a ctiviteiten: gewone scouts- en gidsenactiviteiten, gespecialiseerde activiteiten en niet-verzekerde activiteiten.
    </p>
    <article>
        <h1>Checklist voor een veilige activiteit</h1>
        <p>Je handelt als leiding op een veilige manier als je ervoor zorgt dat … </p>
            <ul id="checklist">
                <li>
                    <input type="checkbox"> 
                    iedereen zich fysiek en emotioneel veilig voelt
                </li>
                <li>
                    <input type="checkbox"> iedereen de kans krijgt om ‘neen’ te zeggen tegen de activiteit
                </li>
                <li>
                    <input type="checkbox"> je risicovolle activiteiten goed voorbereidt en daar met leden en leiding duidelijke afspraken over maakt
                </li>
                <li><input type="checkbox"> 
                    de activiteit past bij het ontwikkelingsniveau van de leden (verder in dit boekje vind je wat wel en niet kan per tak)
                </li>
                <li><input type="checkbox">
                    er altijd iemand van de leiding bereikbaar en aanspreekbaar is
                </li>
            </ul>
    </article>
    <article>
        <h1>Scouts- en gidsenactiviteit</h1>
        <p>
            Deze activiteit is toegankelijk voor elke scout en gids. Ze wordt begeleid door leid(st)ers die handelen volgens het principe van de goede huisvader <u>(zie bladzijde X)</u>. Alle gewone scouts- en gidsenactiviteiten vallen hieronder (bijvoorbeeld bos- en pleinspelen, zwemmen of fietstochten).
        </p>
    </article>
    <article>
        <h1>Gespecialiseerde activiteit</h1>
        <p>
            Voor een gespecialiseerde activiteit moet de begeleiding kennis van zaken hebben en daarnaar kunnen handelen. Gespecialiseerde activiteiten moeten daarom begeleid worden door een scout- of externe begeleid(st)er die deskundig gevormd is. Er mag ook enkel gekeurd materiaal gebruikt worden. Twijfel je aan de kwaliteit van het materiaal of de deskundigheid van de begeleiding? Neem dan geen risico en stop de activiteit. Door het verhoogd risico dat aan deze activiteiten verbonden is, moeten deelnemers minstens gids of (zee)verkenner zijn.
        </p>
        <p>Het Gaat om:</p>
        <ul>
            <li>speleologie</li>
            <li>rots- en indoorklimmen (zoals rappelen en boulderen)</li>
            <li>touwenparcours en kabelbanen</li>
            <li>gevechtsporten (zoals judo en karate);</li>
            <li>niet-gemotoriseerde watersporten (zoals windsurfen, zeilen, rafting en canyoning).</li>
        </ul>
    </article>
    <article>
        <h1>Niet-verzekerde activiteiten</h1>     
        <p>
            Niet-verzekerde activiteiten zijn activiteiten die door hun verhoogd risico op letsel en de niet-scouteske aard niet opgenomen zijn in de ledenpolis. Ze zijn dan ook niet verzekerd.
        </p>
        <p>
            We sluiten volgende activiteiten uit:
        </p>
        <ul>
            <li>luchtsporten (zoals deltavliegen, paragliden en parachutespringen)</li>
            <li>gemotoriseerde activiteiten (zoals karting, pocketbike, quad en monobike)</li>
            <li>wintersporten (zoals skiën en snowboarden)</li>
            <li>gemotoriseerde watersporten (zoals waterskiën, wakeboarden, parasailing en banaan- of bandvaren achter een speedboot</li>
            <li>duiksporten met duikflessen</li>
            <li>extreme activiteiten (benjispringen)</li>
            <li>officiële competitiewedstrijden (zoals wielerwedstrijden)</li>
            <li>schietspelen (zoals paintball, airsoft) en schietsporten</li>
            <li>organisatie van pop- en rockconcerten</li>
        </ul>
    </article>
</ion-content>