<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" text="Terug"></ion-back-button>
        </ion-buttons>
        <ion-title>Een veilige activiteit</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        Scouting veilig houden is een blijvende uitdag ing. Het belangrijkste aspect daarbij? Gezond verstand, zowel voor als tijdens
        activiteiten. Daarin sta je niet alleen: door met je medeleiding, leden en ouders te praten, kom je al ver bij het inschatten van
        risico’s. Spreek elkaar aa n als je twijfelt over de veiligheid en sta zelf open voor feedback.<br>
        Scouts en Gidsen Vlaanderen kent drie soorten a ctiviteiten: gewone scouts- en gidsenactiviteiten, gespecialiseerde activiteiten en niet-verzekerde activiteiten.
    </p>
    <article>
        <h1>Checklist voor een veilige activiteit</h1>
        <p>Je handelt als leiding op een veilige manier als je ervoor zorgt dat … </p>
            <ul id="checklist">
                <li>
                    <input type="checkbox">
                    iedereen zich fysiek en emotioneel veilig voelt
                </li>
                <li>
                    <input type="checkbox"> iedereen de kans krijgt om ‘neen’ te zeggen tegen de activiteit
                </li>
                <li>
                    <input type="checkbox"> je risicovolle activiteiten goed voorbereidt en daar met leden en leiding duidelijke afspraken over maakt
                </li>
                <li><input type="checkbox">
                    de activiteit past bij het ontwikkelingsniveau van de leden (verder in dit boekje vind je wat wel en niet kan per tak)
                </li>
                <li><input type="checkbox">
                    er altijd iemand van de leiding bereikbaar en aanspreekbaar is
                </li>
            </ul>
    </article>
    <article>
        <h1>Scouts- en gidsenactiviteit</h1>
        <p>
            Deze activiteit kadert binnen de pedagogische methode of de visie van Scouts en Gidsen Vlaanderen zoals beschreven in ‘Kijk op Scouting’ en is toegankelijk voor elke scout en gids. Ze wordt begeleid door leid(st)ers die handelen volgens het principe van de goede huisvader (zie bladzijde 10). Alle gewone scouts- en gidsenactiviteiten vallen hieronder (bijvoorbeeld bos- en pleinspelen, zwemmen of fietstochten).
        </p>
        <p>Ben je van plan op met je groep een grotere activiteit op te zetten? Gebruik dan de checklist evenementen.<a href="www.scoutsengidsenvlaanderen.be/evenementenverzekering">scoutsengidsenvlaanderen.be/evenementenverzekering</a></p>
    </article>
    <article>
        <h1>Gespecialiseerde activiteit</h1>
        <p>
            Voor een gespecialiseerde activiteit moet de begeleiding kennis van zaken hebben en daarnaar kunnen handelen. Gespecialiseerde activiteiten moeten daarom begeleid worden door een scout- of externe begeleid(st)er die deskundig gevormd is. Er mag ook enkel gekeurd materiaal gebruikt worden. Twijfel je aan de kwaliteit van het materiaal of de deskundigheid van de begeleiding? Neem dan geen risico en stop de activiteit.
        </p>
        <p>Door het verhoogd risico dat aan deze activiteiten verbonden is, moeten deelnemers minstens gids of (zee)verkenner zijn. </p>
        <p>Het Gaat om:</p>
        <ul>
            <li>speleologie;</li>
            <li>rots- en indoorklimmen (zoals rappel en boulderen);</li>
            <li>touwenparcours en kabelbanen;</li>
            <li>gevechtsporten (zoals judo en karate);</li>
            <li>niet-gemotoriseerde watersporten (zoals windsurfen, zeilen, rafting en canyoning).</li>
        </ul>
    </article>
    <article>
        <h1>Niet-ondersteunde activiteiten</h1>
        <p>Activiteiten die niet passen binnen de pedagogiek van scouting, worden niet ondersteund door Scouts en Gidsen Vlaanderen; van leiding verwachten we dat ze zich als ‘goede huisvader’ bewust zijn van hun aansprakelijkheid en deze activiteiten niet aanbieden met leden. Voorbeelden van zo’n activiteiten zijn:</p>
        <ul>
            <li>realistische angstaanjagende spelen</li>
            <li>extreme sporten (zoals water- of jetski, quad, duiken met zuurstofflessen,... )</li>
            <li>schietspelen (zoals paintball en airsoft) en schietsporten</li>
        </ul>
    </article>
    <article>
        <h1>Niet-verzekerde activiteiten</h1>
        <p>Niet-verzekerde activiteiten zijn activiteiten die door hun verhoogd risico op letsel niet opgenomen zijn in de ledenpolis. Ze zijn dan ook niet verzekerd.</p>
        <p>We sluiten volgende activiteiten uit:</p>
        <ul>
            <li>luchtsporten (zoals deltavliegen, paragliden en parachutespringen), benjispringen, parasailing</li>
            <li>gemotoriseerde activiteiten op de openbare weg</li>
            <li>officiële competitiewedstrijden (zoals wielerwedstrijden)</li>
        </ul>
        <p>Activiteiten die wettelijk verboden zijn, zijn per definitie nooit verzekerbaar.</p>
    </article>
</ion-content>