<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Crisis- en Noodsituaties</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <ion-card>
        <ion-card-content>
            We kennen de risico’s van het vak en schenken daarom aandacht aan preventie. Maar ook al heb je voldoende maatregelen genomen, een ongeluk kan altijd gebeuren. En dan moet je onmiddellijk handelen.
                <ion-button (click)="bellNoodnummer()">
                    Noodnummer bellen
                </ion-button>
        </ion-card-content>
    </ion-card>
    <article>
        <h1>Hou overzicht over de situatie</h1>
        <ul>
                <li>Zorg voor een veilige situatie voor jezelf, je leden en andere aanwezigen.</li>
                <li>Verwittig onmiddellijk de hulpdiensten als het over een grotere noodsituatie gaat.</li>
                <li>Blijf rustig, probeer een overzicht te krijgen van de situatie en maak een onderscheid tussen wat belangrijk en minder belangrijk is. Wat moet je eerst aanpakken? Hoe beperk je negatieve gevolgen van de situatie?</li>
                <li>Maak afspraken met je medeleiding. Zorg dat één iemand de leiding neemt. Wie doet wat en hoe gaat het nu verder? Laat een gewonde nooit alleen!</li>
                <li>Zorg voor één contactpersoon en gebruik duidelijke, objectieve informatie. Deze vragen kunnen je daarbij helpen: ‘Wat is er gebeurd?’, ‘Wat hebben we gedaan?’, ‘Wat gaan we nog doen?’.</li>
            </ul>
    
    </article>
    <article>
        <h1>Grotere crisis- of noodsituaties</h1>
         <p>Sommige crisissituaties veroorzaken meer acuut fysieke, mentale of materiële schade dan je als leiding aankan. Je zal misschien moeten improviseren over de aanpak tot de hulpdiensten aanwezig zijn. Denk daarbij aan het volgende:</p>
            <ul>
                <li>Bel bij een ernstige crisis altijd het noodnummer van Scouts en Gidsen Vlaanderen: 0474 26 14 01. Je komt meteen op de voicemail terecht. Geef je naam, groep en telefoonnummer op en beschrijf kort de situatie. Iemand van de verbondsleiding belt je zo snel mogelijk terug. Hij of zij zal je bijstaan in de crisissituatie en –communicatie (bv. persvragen).</li>
                <li>Verlies getuigen niet uit het oog. </li>
            </ul>
    </article>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Meer info?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ul>
                <li>Altijd bij de hand: individuele steekkaarten van je leden </li>
                <li>Over crisiscommunicatie:– <a href="http://www.scoutsengidsenvlaanderen.be">scoutsengidsenvlaanderen.be</a>– zoek op ‘crisissituaties’’</li>
                <li>Noodnummer Scouts en Gidsen Vlaanderen: 0474 26 14 01</li>
                <li>Europees noodoproepnummer: 112 – <a href="http://www.112.be">www.112.be</a></li>
            </ul>
        </ion-card-content>
    </ion-card>
</ion-content>