<ion-header>
    <ion-toolbar>
       <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
        <ion-title>
            Verzekeringen en aansprakelijkheid bij activiteiten
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
      <ion-card>
            <ion-card-header>
                <ion-card-title>De goede huisvader</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>
                Het principe van de goede huisvader is een juridische term. Het betekent dat je activiteiten organiseert naar best vermogen. Dat betekent dat je een tocht zelf uitstapt, vooraleer je je jonggivers de baan opstuurt. Het betekent ook dat je je auto niet vollaadt met welpen, maar je beperkt tot evenveel welpen als er gordels zijn, zoals de wet het voorschrijft. 
                <br><br>Als je je organisatieplicht vervuld hebt en ook je toezichtsplicht ter harte hebt genomen, heb je je dus als een goede huisvader gedragen.
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Organisatieplicht</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>
                Je hebt als leiding de wettelijke plicht om zoveel mogelijk gevaren te voorzien en uit te sluiten. Het betekent dat je bij de voorbereiding van een activiteit voldoende aandacht hebt voor mogelijke gevaren en concrete voorzorgen neemt. Als je gaat houthakken, moet je de jonggidsen aanleren hoe dat veilig kan, moet je ervoor zorgen dat de bijlen niet los aan de steel zitten, enzovoort.
                <br><br>Zorg dat voor alle leden een actuele individuele steekkaart is ingevuld en volg die informatie nauwkeurig op.
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Toezichtsplicht</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>
                Je moet er als leiding actief op toezien dat leden zichzelf niet in gevaar brengen. Als verkenners met bijlen beginnen te spelen, ben je verplicht om in te grijpen. Als kapoenen in een boom willen klimmen, hou je een oogje in het zeil.
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Verzekeringen</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>
                Als leiding van Scouts en Gidsen Vlaanderen ben je verzekerd voor schade die jouw leden veroorzaken. Tenzij uit de feiten van een ongeluk blijkt dat je je niet als goede huisvader hebt gedragen (toezichtsplicht en/of organisatieplicht niet ter harte genomen). In dat geval bestaat de kans dat jij de kosten zelf zal moeten betalen. 
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Aansprakelijkheid</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>
                Organiseer nooit activiteiten die in strijd zijn met de wet en de regels van Scouts en Gidsen Vlaanderen. Zo voorkom je juridische moeilijkheden.
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <p>
                Meer informatie over verzekeringen en aansprakelijkheid lees je in de publicaties Goed verzekerd? en Aansprakelijkheid of op <a href="http://www.scoutsengidsenvlaanderen.be">scoutsengidsenvlaanderen.be</a>
                </p>
            </ion-card-content>
        </ion-card>
</ion-content>